body{
	background: linear-gradient(174deg, #1c0e27 0%, #1f246d 16%, #24468b 33%, #2769a4 50%, #298cb9 66%, #2ab3cc 83%, #38dad2 100%);
	height: 100vh;
	display: grid;

}
.lofi-banner{
	height: 720px;
	background-image: url(img/bc.jpeg);
}