body{
	background-color: #60a6b0;
	font-family: 'Roboto Mono', monospace;
}

.lofi-banner{
	background-image: url(https://miro.medium.com/max/3840/1*juVBap0-3xF0sDHRxcVM6Q.jpeg);
	min-height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.wrapper{
	border-radius: 50px;
	margin-left: 200px;
	margin-top: 100px;
	display: inline-grid;
	height: 500px;
	width: 500px;
	background-color: rgba(96, 166, 176, 0.6);

}

a.cta, 
button.cta{
	background: #bc5055;
	color: white;
	font-weight: bold;
	font-size:  30px;
	padding: 20px 30px;
	border-radius:  10px;
	text-decoration: none;
	width: 300px;

}

a.cta.alt,
button.cta.alt{
	background-color: #38829d;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	width: 190px;
	height: 40px;

}

nav{
	box-shadow: 0 5px 8px rgba(0, 0, 0,.2);
	border: 1px solid #303840;
	height: 100px;
	padding: 10px;
	background-color: #f39188;
	position: sticky;
	top: 0;
	
}

nav .logo{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
	margin-left: 30px;
	background: url('../img/LOFI_SIGN_LOGO.jpg') no-repeat 0 0 ;
	background-size: 35%;
	overflow: hidden;
	text-indent: -999px;
}
nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}
nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}

.more-info{
	text-align: center;
	padding: 30px;

}

.highlight{
	background-color: #f4dfdc;
}

h1,h2{
	font-weight: bold;

	font-size: 35px;
}

p{
	font-size: 30px;
	margin: 30px;
}

.story{
	display: grid;
	width: 500px;
}